@using Honkai_Star_Rail_Tier_List.Helpers

@model Honkai_Star_Rail_Tier_List.Models.Character

@{
    ViewData["Title"] = Model.Name;
}

<body class="character-deatails-body">

    <div class="character-header">
        <img class="@Model.Element" src="/Images/Characters/@Model.Image" width="150">
        <span class="character-header-name">@Model.Name</span>
    </div>
    

    <div class="character-tab-buttons">
        <button class="character-tab-btn active" data-tab="information">Info</button>
        <button class="character-tab-btn" data-tab="review">Review</button>
        <button class="character-tab-btn" data-tab="build">Build</button>
    </div>

    <div class="character-tabs">
        <div class="character-panel active" id="information">

            @*Skill display*@
            <h1>Skills</h1>
            @foreach (var skill in Model.Skills)
            {
                <div class="skill" id="skill_@skill.Id">

                    <div class="skill-info">
                        <p class="skill-type @Model.Element">@skill.SkillType</p>
                        <h3 class="skill-name ">@skill.Name</h3>
                    </div>

                    @*@ Display the discription and add a slider if needed to view the skill at differnt levels *@
                    <p class="skill-description">
                        @Html.Raw(skill.Description)
                    </p>

                    @if (skill.MaxLevel > 1)
                    {
                        var startLevel = Math.Max(1, skill.MaxLevel - 2);

                        <div class="skill-changer">
                        <label>
                            Skill Level: <span id="levelDisplay_@skill.Id">@startLevel</span>
                        </label>


                            <input type="range"
                                   class="skill-slider"
                                   id="slider_@skill.Id"
                                   data-display="levelDisplay_@skill.Id"
                                   data-container="skill_@skill.Id"
                                   data-values='@Html.Raw(Json.Serialize(
                                        skill.LevelValue.Select(v => new
                                        {
                                            level = v.Level,
                                            statType = v.StatType.ToString(),
                                            value = v.Value
                                        })
                                   ))'
                                   min="1"
                                   max="@skill.MaxLevel"
                                   value="@startLevel">
                        </div>
                    }

                </div>
            }

            @if (Model.Companions != null && Model.Companions.Any())
            {
                var companion = Model.Companions.First();

                <h1 style="margin-top:100px">@companion.Type</h1>
                <div class="companion-header">
                    <img src="/Images/Companions/@companion.Image" width="500" />
                    <span class="companion-name">@companion.Name</span>
                </div>

                @foreach (var skill in companion.Skills)
                {
                    <div class="skill" id="skill_@skill.Id">

                        <div class="skill-info">
                            <p class="skill-type @Model.Element">@skill.SkillType</p>
                            <h3 class="skill-name ">@skill.Name</h3>
                        </div>

                        @*@ Display the discription and add a slider if needed to view the skill at differnt levels *@
                        <p class="skill-description">
                            @Html.Raw(skill.Description)
                        </p>

                        @if (skill.MaxLevel > 1)
                        {
                            var startLevel = Math.Max(1, skill.MaxLevel - 2);

                            <div class="skill-changer">
                                <label>
                                    Skill Level: <span id="levelDisplay_@skill.Id">@startLevel</span>
                                </label>


                                <input type="range"
                                       class="skill-slider"
                                       id="slider_@skill.Id"
                                       data-display="levelDisplay_@skill.Id"
                                       data-container="skill_@skill.Id"
                                       data-values='@Html.Raw(Json.Serialize(
                                         skill.LevelValue.Select(v => new
                                         {
                                             level = v.Level,
                                             statType = v.StatType.ToString(),
                                             value = v.Value
                                         })
                                    ))'
                                       min="1"
                                       max="@skill.MaxLevel"
                                       value="@startLevel">
                            </div>
                        }

                    </div>
                }
            }

            @* Eidolon display*@
            <h1 class="eidolon-header">Eidolons</h1>
            <div class="eidolon-display">
            @foreach (var eidolon in Model.Eidolons.OrderBy(e => e.Level))
            {
                
                <div class="eidolon" id="eidolon_@eidolon.Id">
                    <div class="eidolon-title">
                        <span class="eidolon-level @Model.Element">E@(eidolon.Level)</span>
                        <span class="eidolon-name">@eidolon.Name</span>
                    </div>
                        <p class="eidolon-description">@eidolon.Description</p>
                   </div>
            }
            </div>
        </div>

        @* Character Review *@
        <div class="character-panel" id="review">
            @{
                var guide = Model.CharacterGuide;
            }

            <div class="strengths-weaknesses">
                <div class="strengths">
                    @if (!string.IsNullOrWhiteSpace(guide?.Strengths))
                    {
                        <h2 style="color:greenyellow">Strengths</h2>
                        <hr />
                        <ul>
                            @foreach (var strength in Model.CharacterGuide.Strengths.Split('\n'))
                            {
                                if (!string.IsNullOrWhiteSpace(strength))
                                {
                                    <li>@strength.Trim()</li>
                                }
                            }
                        </ul>
                    }
                </div>
                
                <div class="weaknesses">
                    @if (!string.IsNullOrWhiteSpace(guide?.Weaknesses))
                    {
                        <h2 style="color:red">Weaknesses</h2>
                        <hr />
                        <ul>
                            @foreach (var weakness in Model.CharacterGuide.Weaknesses.Split('\n'))
                            {
                                if (!string.IsNullOrWhiteSpace(weakness))
                                {
                                    <li>@weakness.Trim()</li>
                                }
                            }
                        </ul>
                    }
                </div>
            </div>
            

            

            @if (!string.IsNullOrWhiteSpace(guide?.Review))
            {
                <h1 style="color:fuchsia">Review</h1>
                <p class="character-review">@Model.CharacterGuide.Review</p>
            }
        </div>

        <div class="character-panel" id="build">
            <h6 style="color:deeppink">Builds</h6>
            @foreach (var build in Model.Builds)
            {
                <p>@build.Name</p>
                <p>@build.Description</p>
                @foreach (var relicSet in build.RelicSets)
                {
                    <p>@relicSet.Rank</p>
                    if (relicSet.RelicSet1Id == relicSet.RelicSet2Id)
                    {
                        <img src="~/Images/Relics/@relicSet.RelicSet1.Image" width="100" />
                        <p>4pc @relicSet.RelicSet1.FourPieceEffect</p>
                    }
                    else
                    {
                        <p>2pc @relicSet.RelicSet1.Name + 2pc @relicSet.RelicSet2.Name</p>
                        <ul><img src="/Images/Relics/@relicSet.RelicSet1.Image" width="25" /> @relicSet.RelicSet1.Name: @relicSet.RelicSet1.TwoPieceEffect</ul>
                        <ul><img src="/Images/Relics/@relicSet.RelicSet2.Image" width="40" /> @relicSet.RelicSet2.Name: @relicSet.RelicSet2.TwoPieceEffect</ul>
                    }
                }
                <p>Recommended Stats:</p>
                <ul>Body: @build.BuildStats.Body</ul>
                <ul>Feet: @build.BuildStats.Feet</ul>
                <ul>Substats: @build.BuildStats.SubstatPriority</ul>

                <h6 style="color:lightpink">Light Cones</h6>
                @foreach (var lightCone in build.LightCones.OrderBy(lc => lc.Rank))
                {
                    <div>
                        <img src="/Images/Light Cones/@lightCone.LightCone.Image" width="100" />
                        <p>@lightCone.LightCone.Name</p>
                    </div>

                    <p>@lightCone.Description</p>

                }
            }

            <h6 style="color:gold">Teams</h6>
            @foreach (var ct in Model.CharacterTeams.OrderBy(ct => ct.Rank))
            {
                <h4>@ct.Type Team</h4>

                <div style="display:flex; gap:10px;">
                    @foreach (var member in ct.Team.TeamMembers.OrderBy(m => m.Order))
                    {
                        <div style="text-align:center;">
                            <img src="/Images/Characters/@member.Character.Image" width="60" />
                            <p>@member.Character.Name</p>
                            <p>@member.Role</p>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</body>