@{
    ViewData["Title"] = "Character";
}

@model Honkai_Star_Rail_Tier_List.Models.Character

<h1>@Model.Name</h1>
<img src="/Images/@Model.Image" width="300">
<p>@Model.Role</p>

@foreach (var skill in Model.Skills)
{
    <div class="skill" id="skill_@skill.Id">

        <h3>@skill.Name</h3>
        <p>@skill.SkillType</p>

        <p class="skill-description">
            @Html.Raw(skill.Description)
        </p>

        @if (skill.MaxLevel > 1)
        {
            <label>
                Skill Level: <span id="levelDisplay_@skill.Id">1</span>
            </label>

            <input type="range"
                   id="slider_@skill.Id"
                   min="1"
                   max="@skill.MaxLevel"
                   value="1">

            <script>
                const skillValues_@skill.Id =
                @Html.Raw(Json.Serialize(
                             skill.LevelValue.Select(v => new
                             {
                                 level = v.Level,
                                 statType = v.StatType.ToString(),
                                 value = v.Value
                             })
                             ));
            </script>

            <script>
                document.addEventListener("DOMContentLoaded", function () {

                    initializeSkillSlider(
                        "slider_@skill.Id",
                        "levelDisplay_@skill.Id",
                        "skill_@skill.Id",
                        skillValues_@skill.Id
                                        );

                });
            </script>
        }

    </div>
}