@model IEnumerable<Honkai_Star_Rail_Tier_List.Models.LightCone>

@{
    ViewData["Title"] = "Index";
}

<body class="page-background">
    <div class="light-cones-page">
        <h1>Light Cones</h1>
        <p>There are @Model.Count() light cones</p>

        <div class="filters">
            <div class="search-container">
                <input id="searchInput" type="text" placeholder="Character Name..." />
                <button id="clearSearchBtn">✕</button>
            </div>
            
            <div class="rarity-filters">
                <h4>Rarity: </h4>
                <button class="filter-btn clear-filter-btn" data-filter="rarity">*</button>
                <button class="filter-btn rarity-btn" data-filter="rarity" data-value="5" style="color:gold">5★</button>
                <button class="filter-btn rarity-btn" data-filter="rarity" data-value="4" style="color:mediumpurple">4★</button>
                <button class="filter-btn rarity-btn" data-filter="rarity" data-value="3" style="color:dodgerblue">3★</button>
            </div>

            <div class="path-filters">
                <h4>Path: </h4>
                <button class="filter-btn clear-filter-btn" data-filter="path">*</button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Abundance"> <img src="/Images/Paths/Abundance.webp" /> </button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Destruction"><img src="/Images/Paths/Destruction.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Elation"><img src="/Images/Paths/Elation.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Erudition"><img src="/Images/Paths/Erudition.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Harmony"><img src="/Images/Paths/Harmony.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Hunt"><img src="/Images/Paths/The Hunt.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Nihility"><img src="/Images/Paths/Nihility.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Preservation"><img src="/Images/Paths/Preservation.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Remembrance"><img src="/Images/Paths/Remembrance.webp" /></button>
            </div>

            <button id="clearAllFiltersBtn" class="clear-filter-btn">
                Clear All
            </button>
        </div>
        <div class="light-cone-grid">
            @foreach (var lightCone in Model.OrderBy(lc => lc.Name))
            {
                <div class="light-cone" data-rarity="@lightCone.Rarity" data-path="@lightCone.Path" data-name="@lightCone.Name">
                    <img class="rarity-@lightCone.Rarity" src="/Images/Light Cones/@lightCone.Image" />
                    <div class="light-cone-info">
                        <span class="light-cone-name rarity-@lightCone.Rarity">@lightCone.Name</span>
                        <span class="light-cone-path"> Path: @lightCone.Path</span>
                        <hr />
                        <span class="light-cone-description">@lightCone.Description</span>
                    </div>
                </div>
            }
        </div>
    </div>
</body>