@model IEnumerable<Honkai_Star_Rail_Tier_List.Models.Character>

@{
    ViewData["Title"] = "Characters";
}

<body class="page-background">
    <div class="characters-page">
        <h1>Characters</h1>
        <p id="item-count">Displaying @Model.Count() characters</p>

        <div class="filters">
            <div class="search-container">
                <input id="searchInput" type="text" placeholder="Character Name..." />
                <button id="clearSearchBtn">✕</button>
            </div>

            <div class="rarity-filters">
                <h4>Rarity: </h4>
                <button class="filter-btn clear-filter-btn" data-filter="rarity">*</button>
                <button class="filter-btn rarity-btn" data-filter="rarity" data-value="5" style="color:gold">5★</button>
                <button class="filter-btn rarity-btn" data-filter="rarity" data-value="4" style="color:mediumpurple">4★</button>
            </div>

            <div class="path-filters">
                <h4>Path: </h4>
                <button class="filter-btn clear-filter-btn" data-filter="path">*</button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Abundance"> <img src="/Images/Paths/Abundance.webp" /> </button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Destruction"><img src="/Images/Paths/Destruction.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Elation"><img src="/Images/Paths/Elation.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Erudition"><img src="/Images/Paths/Erudition.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Harmony"><img src="/Images/Paths/Harmony.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Hunt"><img src="/Images/Paths/The Hunt.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Nihility"><img src="/Images/Paths/Nihility.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Preservation"><img src="/Images/Paths/Preservation.webp" /></button>
                <button class="filter-btn path-btn" data-filter="path" data-value="Remembrance"><img src="/Images/Paths/Remembrance.webp" /></button>
            </div>

            <div class="element-filters">
                <h4>Element: </h4>
                <button class="filter-btn clear-filter-btn" data-filter="element">*</button>
                <button class="filter-btn element-btn" data-filter="element" data-value="Fire"><img src="~/Images/Elements/Fire.webp" /></button>
                <button class="filter-btn element-btn" data-filter="element" data-value="Ice"><img src="~/Images/Elements/Ice.webp" /></button>
                <button class="filter-btn element-btn" data-filter="element" data-value="Imaginary"><img src="~/Images/Elements/Imaginary.webp" /></button>
                <button class="filter-btn element-btn" data-filter="element" data-value="Lightning"><img src="~/Images/Elements/Lightning.webp" /></button>
                <button class="filter-btn element-btn" data-filter="element" data-value="Physical"><img src="~/Images/Elements/Physical.webp" /></button>
                <button class="filter-btn element-btn" data-filter="element" data-value="Quantum"><img src="~/Images/Elements/Quantum.webp" /></button>
                <button class="filter-btn element-btn" data-filter="element" data-value="Wind"><img src="~/Images/Elements/Wind.webp" /></button>
            </div>

            <button id="clearAllFiltersBtn" class="clear-filter-btn">
                Clear All
            </button>
        </div>

        <div class="characters-list">
            @foreach (var character in Model.OrderBy(c => c.Name))
            {
                <a class="character-portrait has-tooltip" asp-controller="Characters" asp-action="Details" asp-route-slug="@character.Slug" 
                   data-name="@character.Name"
                   data-rarity="@character.Rarity"
                   data-path="@character.Path"
                   data-element="@character.Element"
                   data-as="@character.TierAS"
                   data-moc="@character.TierMOC"
                   data-pf="@character.TierPF">
                         
                    <img class="rarity-@character.Rarity" src="/Images/Characters/Portraits/@character.Image" />
                    <div class="character-name">@character.Name</div>
                </a>
            }
        </div>
    </div>
</body>